.CardContainer{
    display:flex;
    flex-direction: row;
    gap: 20px
    /* flex:inline-block; */
}

.card{
    /* border: 1px solid red; */
}

.piechart{
    margin: 100px 0px 0px 200px ;
    width: 400px;
}

.right img{
    position: absolute;
    bottom:0;
    right: 0;
    width: 800px;
    height: auto;
}